root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{cs,csproj,sln,props}]
indent_size = 4

[*.{dart,json,yaml,yml,md}]
indent_size = 2

[*.{ino,h,cpp}]
indent_size = 2
